@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 4rem;
}

.navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    font-size: medium;
}

#home {
    background-color: #ffbf3d;
    padding-top: 4rem;
}

#destinations {
    background-color: #f8f9fb;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

#about {
    background-color: #f8f9fb;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

#contact {
    background-color: #f8f9fb;
    padding-bottom: 6rem;
}

#sidebar-wrapper {
    width: 250px;
}

.login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/background.jpg);
    background-size: cover;
}

.register {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/background.jpg);
    background-size: cover;
}

.dashboard {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/cappadocia.jpg);
    background-size: cover;
    color: white;
}